<div class="page-header">
  <a href="#colors/new" class="btn btn-primary pull-right">Create</a>
  <h1>Colors: Index</h1>
</div>

<div class="colors__list"></div>

<div class="text-center">
  <ul class="pagination">
    {{#if prev}}
      <li><a href="#colors?page={{prev}}">&laquo;</a></li>
    {{else}}
      <li class="disabled"><a>&laquo;</a></li>
    {{/if}}

    {{#each pages}}
      {{#if current}}
        <li class="active"><a>{{page}} <span class="sr-only">(current)</span></a></li>
      {{else}}
        <li><a href="#colors?page={{page}}">{{page}}</a></li>
      {{/if}}
    {{/each}}

    {{#if next}}
      <li><a href="#colors?page={{next}}">&raquo;</a></li>
    {{else}}
      <li class="disabled"><a>&raquo;</a></li>
    {{/if}}
  </ul>
</div>
